.comment-content-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .comment-input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
    min-height: 200px; /* Set a minimum height */
    max-width: 400px;
    margin-left: 11%;
    margin-top: 1%;
  }
  
  .comment-button {
    background-color: rgb(219, 140, 148);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10%;
  }
  
  .comment-button:hover {
    background-color: rgb(209, 101, 112);
  }
  