.comment-content-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 4%;
}

.comment-input {
flex: 1;
padding: 8px;
font-size: 16px;
border: 1px solid #ddd;
border-radius: 5px;
resize: vertical; 
min-height: 100px; 
max-width: 400px;
margin-left: 11%;
margin-top: 1%;
}

.comment-input:focus {
    outline: none; 
    border-color: rgb(209, 101, 112); 
    box-shadow: 0 0 3px rgb(176, 118, 124); 
}

.comment-button {
background-color: rgb(218, 167, 173);
color: white;
border: none;
border-radius: 8px;
padding: 8px 16px;
cursor: pointer;
transition: background-color 0.3s;
margin-top: 4%;
}

.comment-button:hover {
background-color: rgb(209, 101, 112);
transform: scale(1.05);
}
.error-message{
    font-size: large;
    border-color: red;
    box-shadow: 0 0 3px rgb(176, 118, 124);
    color: rgb(224, 51, 51);
    font-weight: bold;
    background-color: rgb(245, 197, 205);
    
    
}
.errorSection{

    margin-top: -7%;
    margin-left: -27%;
}