
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header{
  background-color: #eceac8;
  border: 12px solid #cd853f; 
  border-radius: 23px;
}
.container{
  background-image: url('../styles/searchPageBackground2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 122vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar{
  background: #fff;
  width: 90%;
  max-width: 800px;
  display:flex;
  padding: 2px;
  border-radius: 4px;
  height: 60px;
  align-items: center;
  justify-content: center;
  position:relative;
  top: -9%;
}

#select{
  background: #403e46;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#fff;
  font-family:  Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
  width: 190px;
  padding: 25px 20px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  height: 60px;
  margin-left: -2px;
}
#select span{
  width: 15px;
}
#select ul{
  position:absolute;
  top:110%;
  left:0;
  list-style: none;
  background:#f4f4f6;
  color: #555;
  font-family:  Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif ;
  width: 100%;
  border-radius: 4px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
#select ul li{
  padding: 10px 20px;
  cursor: pointer;
}
.search-bar input{
  padding: 10px 25px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: Papyrus, fantasy;
}
#select ul.open{
  max-height: 300px;
}

.search-button img{
  width: 50%; 
  max-width: 50%; 
  border-radius: 4px;
 
  
}
.search-button{
  cursor: pointer;
  background: #f9f9cd;
  max-width: 70px;
  padding: 6px; 
  border-radius: 4px;
  display: flex;
  align-items: center; 
  height: 60px;
  justify-content: center;
  border: none;
  position:relative;
  top: -9%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transition: box-shadow 0.3s ease; 
}
.search-button:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}



