
.page-container{
    background-color: #4797cd;
    min-height: 100vh;
    padding-top: 2%;
}
.login-header{
    max-height: 1px;
}

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
    margin-top: -10%;
  }
  
  /* Styling for the login box */
  .login-section {
    background-color: #ffffff; /* Background color for the login box */
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  /* Style the login button */
  .login-section button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-section button:hover {
    background-color: #2980b9;
  }
  
  /* Style the login input field */
  .login-section input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  
  /* Style the message paragraph */
  .login-section p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  /* Style the logout button */
  .login-section button#logout-button {
    background-color: #e74c3c;
  }
  
  .login-section button#logout-button:hover {
    background-color: #c0392b;
  }
  
