.marketPage-container{
    background-color: rgb(247, 227, 230);
    height: 150vh;
    padding-top: 2%;
    background: radial-gradient(circle,rgb(249, 211, 215), rgb(249, 243, 243) );
    height: 200vh;
    padding-top: 2%;
}

.marketPage-header{
    margin-left:3%;
}

.marketP-content-container{
    display: flex;
    flex-direction: row;

}

.left-container{
    flex: 1;
}

.right-container{
    flex: 1;
}

.market-container{
    margin-top: 6%;
    margin-left: 15%;
}

.market-title {
    display: flex;
    align-items: center; /* Align items vertically in the title container */
}

.market-title h1{
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-weight:400;
    font-size: xx-large;
    color: #5e3c3c;
    border-bottom: 0;
    margin-bottom: 1%;
    font-weight: bold;
    text-shadow:1px 1px 2px rgb(251, 240, 240), 0 0 1em #ed6a6a, 0 0 0.2em rgb(248, 230, 230);
    border: 2px solid rgb(229, 224, 224);
    background-color: rgba(236, 227, 227, 0.5);
}



.like-button {
    background-color: rgb(238, 193, 198);
    border: 2px solid #e89f9f; /* Add border */
    border-radius: 10px; /* Rounded corners */
    padding: 0.1px 3px; /* Add some padding for visual spacing */
    margin-left: 10px; /* Add space between the button and the title */
    margin-top: 5px; /* Add some vertical space to separate from the content above */
    cursor: pointer;
    font-size: 1.5rem;
    display: flex; /* Center the heart icon within the button */
    align-items: center;
    justify-content: center;
    outline: none; 
    margin-top: -1%;
    
}

.like-button:hover {
    background-color: #f8f8f8; /* Change background color on hover */
    border-color: #aaa; /* Change border color on hover */
}

.marketDetails-content {
    margin-top: 4%; /* Add top margin to create space between lines */
    margin-bottom: 2%;
    max-width: 50%;
    
}


.marketDetails-content p {
    margin-bottom: 2%; /* Add bottom margin to create space between paragraphs */
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    font-size: large;
    margin-left: -5%;
    
}

.p2 ::before {
    content: "\2728"; 
    
}

.p1 ::before {
    content: "\2B50"; 
    
}

.p3 ::before {
    content: "\1F31F"; 
    
}

.p4 ::before {
    content: "\2728"; 
    
}


.comment-section{
    margin-top: 3%;
    margin-left:13%;
}

.comment-section h4{
    font-size: x-large;
    font-family: "Brush Script MT", cursive;;
    color:#7b6666;
    margin-top: 1%;
}

.write-comment-comtainer{
    margin-left:-7%
}


.old-comment-details {
padding: 15px;

margin-top: 2%;
background-color: rgb(243, 217, 220);
display: flex;
align-items: center;
width: 45%;
border-radius: 10px;
border-style: inset;
margin-left:1%;
}

.comment-login {
font-family: poppins;
font-weight: bold;
margin-right: 10px;
list-style-type: none; /* Remove the default bullet point */
}


.comment-actions button {
    margin-right: 5px; 
    background-color: rgb(219, 140, 148);
    border-radius: 6px;
    color: white;
    border: none;
    padding: 3px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment-actions button:hover {
background-color: rgb(209, 101, 112);
transform: scale(1.05);
}

.comment-text {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: large;
    font-family: poppins;
}
.edit-container{
    margin-left: 20%;
    margin-top: 4%;
    
}

.edit-input{
    
padding: 8px;
font-size: 16px;
border: 1px solid #af6969;
border-radius: 5px;
resize: vertical; /* Allow vertical resizing */
min-height: 100px; /* Set a minimum height */
width: 27.5%;
margin-left: -11%;
margin-top: 1%;
}
.edit-input:focus {
    outline: none; /* Remove the default focus outline */
    border-color: rgb(211, 28, 46); /* Set a custom border color when focused */
    box-shadow: 0 0 3px rgb(138, 90, 95); /* Add a subtle shadow when focused */
}

.edit-submit{
background-color: rgb(217, 146, 153);
color: white;
border: none;
border-radius: 8px;
padding: 8px 16px;
cursor: pointer;
transition: background-color 0.3s;
}
.sumbitEditButton{
    margin-left: 16.5%;;
    margin-top: -2.5%;
}



.map{
    margin-top: 80%;
    margin-left: -220%;
    margin-bottom: 10%;
    width: 170%;
    height: 60%;

}

.directions-button {
    margin-top: 0.5%;
    margin-left: -2%;
    display: inline-block;
    background-color: #d2d8d2;
    padding: 3px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
   
}
.directions-button button{
    margin-top: 0.5%;
    margin-left: -1%;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfe5df;
    color: #3c4f3c;
    padding: 10px 20px;
    border-color: #a4c4a4;
    border-radius:11px;
    font-size: 17px;
    cursor: pointer;
}

.directions-button:hover {
    background-color: #6c886c;
    transform: scale(1.05);
}

.section-divider {
    height: 3px; /* Adjust the height of the divider */
    width: 50%; /* Make the divider span the full width of its container */
    border-top: 1px dotted rgb(112, 92, 94); /* Dotted line with the specified color */
    margin-top: 10px
}






















