

  .registerP-container {
    min-height: 100vh;
    background-color: rgb(235, 249, 253);
    padding-top: 2%;
  }
  
  /* Header section */
  .registerHeader {
    width: 90%;
    margin-left: 5%;
  
  }
  
  /* Title for the registration form */
  .registerTitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Registration form section */
  .register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
    margin-top: -10%;
    
  }
  
  /* Registration form input fields */
  .register-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
  }
  
  /* Registration form submit button */
.register-section button {
    padding: 10px 20px;
    background-color: #2980b9;
    font-size: large;
    color: #fff;
    border: none;
    border-radius: 4}