
body{
    background-color: rgb(249, 244, 244);
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #fbefe9, rgb(155, 89, 44)); /* Use a gradient */
    background-repeat: repeat;
}
.side-container {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 8%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

    background-color: #fff; /* Set a background color as a fallback */
    background-image: url('./sidebar2.jpeg');
    background-size: 100%;
    background-repeat: repeat;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.side-container{
    float: left;
}

.searchR-header{
    margin-left:15%;
    margin-right:6%;
    margin-bottom: 3%;
    margin-top: 4%;
    
}


.content-container {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: -2%;
    padding-bottom: 5%;
    
}
.content-section {
    display: flex;
}

.searchResult-container{
    flex: 1;
    margin-top: 5%;
    margin-left: 12%; 
}
.Result-section h3{
    color: rgb(16, 16, 16);
    text-decoration: none;
    font-family: "Andale Mono", AndaleMono, monospace;
    line-height: 1.5; 
    margin-top: 3%;
    position: relative; /* Needed for positioning the pseudo-element */
    padding-left: 20px; /* Add some space for the shape */
    transition: text-decoration 0.3s ease;
}

.Result-section h3::before {
    content: "\273E"; /* Unicode character for a star (you can replace this with your desired shape) */
    position: absolute;
    left: 0; /* Position the shape at the beginning of the h3 element */
    top: 50%; /* Vertically center the shape */
    transform: translateY(-50%); /* Adjust for vertical centering */
    font-size: 20px; /* Adjust the size of the shape */
}


.Result-section h3:hover {
    text-decoration: underline; /* Apply underline when hovering over the h3 element */
}

.Result-section h2{
    margin-bottom: 7%;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-weight: 800;
    font-size: xx-large;
    /* background-color: #c1a592;  */
    background: linear-gradient(to right, #d0ac90, #e9d9ce);
    padding: 10px 0;/* Add padding around the header */
    padding-left: 20px;
    padding-top: 15px;
    margin-left: -1%;
    border-bottom: 2px solid #ddd; /* Add a bottom border */
    color: #333; /* Text color */
}



.Result-section a {
    
    text-decoration: none; 
}



.images-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15%;
    width: 100%;
    }

.images-section img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 5%;

    }

.frame1{
    padding: 10px;
    margin: 10px;
    display: inline-block;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 0px 30px #1c150c(239, 96, 7, 0.3);
    border: 10px solid #6c382f;
    margin-bottom: 70%;
    margin-top: 10%;
    
}
.frame2{
    padding: 10px;
    margin: 10px;
    display: inline-block;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 0px 30px #1c150c(239, 96, 7, 0.3);
    border: 10px solid #795929;
    margin-bottom: 70%;
    margin-top: 10%;
    
}

.frame3{
    padding: 10px;
    margin: 10px;
    display: inline-block;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 0px 30px #1c150c(239, 96, 7, 0.3);
    border: 10px solid #593e2b;
    margin-bottom: 70%;
    margin-top: 10%;
    
}
.frame4{
    padding: 10px;
    margin: 10px;
    display: inline-block;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 0px 30px #1c150c(239, 96, 7, 0.3);
    border: 10px solid #312525;
    margin-bottom: 70%;
    margin-top: 10%;
    
}

.frame::before,
.frame::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 1px solid #ccc;
}

.frame::before {
    z-index: -1;
    background-color: #ddd;
}

.frame img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#image1{
    margin-right: 20%;
    
}

#image2{
    margin-left: 15%;
    margin-right: 15%;
}

#image3{
    margin-right: 36%;
    margin-left: -15%;
}

#image4{
    margin-right: 15%;
    margin-left: 15%;
    
}

.images-section p1{
    
    font-weight: 700;
    font-size: xx-large;
    font-family: "Brush Script MT", cursive;
    color:#2c1f0e;
    
}

.title {
    margin-right: 42%;
    padding-bottom: 5%;
}




.images-section p2,
.images-section p3,
.images-section p4,
.images-section p5{
    
    font-family: "Brush Script MT", cursive;
    font-size:25px;
    font-weight: 100;
    padding-bottom: 30%;
}

.paragraph1{
    margin-right: 14%;
    margin-top: -60%;
    padding-bottom: 20%;
}

.paragraph2{
    margin-top: -60%;
    padding-bottom: 20%;
    max-width: 80%;
    margin-right: 7%;
}

.paragraph3 {
    margin-top: -60%;
    padding-bottom: 22%;
    max-width: 80%;
    margin-right: 32%;
    margin-left: -20%
}
.paragraph4 {
    margin-top: -60%;
    padding-bottom: 20%;
    max-width: 80%;
    margin-right: 9%;
}

